main {
    margin: 0 !important;
}

.main_top {
    width: 100vw;
    height: 90vh;
    position: relative;
    background-image: url("../img/main_top.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main_top::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.3);
    display: block;
}

.main_top p {
    font-size: clamp(1.5rem, calc(3rem + 1.0vw), 6rem);
    position: absolute;
    left: 10%;
    bottom: 15%;
    color: white;
    font-weight: bold;
    filter: brightness(100%) !important;
}

.main_content_title {
    text-align: center;
    font-size: clamp(1.5rem, calc(3rem + 1.0vw), 6rem);
    color: var(--secondary-color);
    font-weight: bold;
    margin: 10vh auto;
    margin-bottom: 5vh;
    width: 800px;
    max-width: 90%;
}

.main_content {
    width: 800px;
    max-width: 90%;
    font-size: clamp(0.5rem, calc(2rem + 1.0vw), 2rem);
    margin: 0 auto;
    margin-bottom: 10vh;
    text-indent: 2rem;
}

.main_menu {
    margin: 5vh 5vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main_menu a {
    display: inline-block;
    width: 400px;
    max-width: 95%;
    text-align: center;
    border: 10px solid var(--secondary-color);
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    box-sizing: border-box;
    border-radius: 5vh;
    position: relative;
    overflow: hidden;
}

.main_menu a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: -2;
}

.main_menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--secondary-color);
    top: 0;
    left: 0;
    z-index: -1;
}

.main_menu a:hover::after {
    animation: backColor .4s linear;
    animation-fill-mode: forwards;
}

.main_menu a:hover div {
    animation: backColor2 .4s linear;
    animation-fill-mode: forwards;
}

.main_menu a:hover p {
    animation: color .4s linear;
    animation-fill-mode: forwards;
}

.main_menu a p {
    font-size:  clamp(1rem, calc(2.5rem + 1.0vw), 4rem);
    margin: 1.5vh 0;
    color: black;
}

.main_menu a div {
    background-color: var(--secondary-color);
    width: 90%;
    aspect-ratio: 1 / 1;
}

.main_menu_img {
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
    margin: 0 auto;
}

