.result {
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 10vh;
}

.result_element {
    border: 5px solid var(--secondary-color);
    border-radius: 10px;
    width: 100%;
    min-height: 30vh;
    box-sizing: border-box;
    padding: 10px 10px;
    color: black;
    transition: .2s;
    margin-bottom: 5vh;
    position: relative;
}

.result_img {
    height: 25vh;
    width: 35%;
    object-fit: cover;
    margin-right: 10px;
    position: absolute;
    top: 2vh;
    left: 2%;
}

.result_element p:not(.result_title) {
    font-size: clamp(0.5rem, calc(1rem + 1.0vw), 2rem);
    margin-left: 40%;
    margin-bottom: 5px;
}

.result_title {
    font-size: clamp(1.5rem, calc(3rem + 1.0vw), 6rem);
    margin-left: 40%;
    margin-bottom: 10px;
}

.result_element::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: -2;
}

.result_element::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s ease-in-out;
}

.result_element:hover {
    color: var(--primary-color);
    transition: .2s;
}

.result_element:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.result_country {
    position: absolute;
    height: auto;
    width: 5vh;
    top: 10px;
    right: 64%;
    border: 1px solid var(--secondary-color);
}

@media (max-width: 700px) {
    .result_element p {
        margin-left: 0;
    }

    .result_img {
        width: 100%;
        height: 70%;
        position: relative;
    }

    .result_country {
        top: 10px;
        right: 10px;
    }
}


